.n-modal-mask {
  backdrop-filter: blur(2px);
}

/* Solving the tabs component does not fit the lower edge problem */
.v-x-scroll {
  height: 100%;
}

/* Solve the problem of QR code size */
.n-qr-code{
  height: unset !important;
  width: unset !important;;
}
